/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chatbot {
    width: 500px; /* Increase width */
    height: 600px; /* Increase height */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#chatbot-header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative; /* Ensure the button is positioned relative to the header */
}

#chatbot-header h1 {
    margin: 0;
    font-size: 24px;
}

#chatbot-body {
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    flex: 1; /* Allow the body to grow and shrink */
    overflow: auto;
}

#chatbot-messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#mainMessages {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chatbot-message {
    margin-bottom: 20px; /* Increased margin to add more space between chats */
    display: flex;
}

.chatbot-message-content:not(.typing-indicator) {
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
}

.user-message .chatbot-message-content {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
    text-align: right;
    margin-left: auto;
}

.assistant-message .chatbot-message-content {
    background-color: #e6e6e6;
    color: #000;
    align-self: flex-start;
}

.tool-call .chatbot-message-content {
    background-color: #ffe57d;
    color: #000;
    align-self: flex-start;
}

.tool-response .chatbot-message-content {
    background-color: #ff9090;
    color: #000;
    align-self: flex-start;
}

.chatbot-message-content > div {
    display: block;
}

.chatbot-message-content > span {
    white-space: pre-line;
}

#chatbot-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
}

#chatbot-input-text {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#chatbot-input-send {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

#chatbot-input-send:hover {
    background-color: #0056b3;
}

.color-executable {
    cursor: pointer;
    padding: 5px;
    border: 1px solid green; /* Changed border color to green */
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    background-color: #e6ffe6; /* Changed background color to a light green */
    user-select: none;
    margin-bottom: 10px;
}

.color-executable:hover {
    background-color: #ccffcc; /* Darker green */
}

.typing-gif {
    width: 70px; /* Adjust size as needed */
    height: auto;
}

#toggle-verbose-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #28a745; /* Green color */
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: background-color 0.3s;
}

#toggle-verbose-button.verbose {
    background-color: #dc3545; /* Red color when verbose mode is active */
}

#toggle-verbose-button:hover {
    background-color: #218838; /* Darker green on hover */
}

#toggle-verbose-button.verbose:hover {
    background-color: #c82333; /* Darker red on hover when verbose mode is active */
}

/* Mobile Styles */
@media (max-width: 1000px) {
    #chatbot {
        width: 100%;
        height: 100%;
        border-radius: 0;
        /* margin: 100px; */
    }

    #chatbot-header {
        padding: 15px;
    }

    #chatbot-header h1 {
        font-size: 80px;
    }

    #chatbot-body {
        padding: 20px;
    }

    .chatbot-message-content {
        padding: 30px;
        max-width: 90%;
        font-size: 40px;
    }

    #chatbot-input-text {
        padding: 15px;
        font-size: 40px;
    }

    #chatbot-input-send {
        padding: 15px 20px;
        font-size: 40px;
    }

    .typing-gif {
        width: 120px; /* Adjust size as needed */
        height: auto;
    }
}

@media screen and (max-width: 800px) and (max-height: 600px) {
    #chatbot-input-send {
        padding: 10px 15px; /* Adjust padding for smaller screen */
        font-size: 30px; /* Adjust font size for smaller screen */
    }

    .typing-gif {
        width: 100px; /* Adjust size for smaller screen */
        height: auto;
    }

    #chatbot-header h1 {
        font-size: 18px; /* Smaller font size */
    }

    .chatbot-message-content {
        font-size: 14px; /* Smaller font size */
    }

    #chatbot-input-text {
        font-size: 14px; /* Smaller font size */
    }

    #chatbot-input-send {
        font-size: 14px; /* Smaller font size */
    }

    #toggle-verbose-button {
        min-width: 1;
    }
}