* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#clickContainer {
    position: relative;
    top: 0;
    left: 0;
    padding: 50px;
    user-select: none;
}

#selectbox {
    position: absolute;
    border: 3px dashed red;
    z-index: 1000;
    /* width: 500px;
    height: 200px; */
    top: 30px;
    left: 30px;
}

#mapLightContainer {
    position: relative;
    user-select: none;
}

#mapImgContainer {
    display: inline-block;
    background-color: black;
    user-select: none;
}

#opacityRange {
    width: 50%;
}

#lights {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
}

.lightbulb {
    position: relative;
    left: 500;
    top: 10%;
    display: inline-block;
}

.lightbulb > img {
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgb(37, 214, 37);
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    opacity: 75%;
}

.lightbulb.selected > img {
    border: 2px solid black;
    /* box-shadow: 0px 0px 30px 30px rgb(37, 214, 37); */
    /* background-color: red; */
}

#segmentModeSettingsContainer {
    border: 2px solid;
    display: inline-block;
    padding: 10px;
}

#segmentModeSettingsContainer > h2::after {
    content: ' ▶';
}

#segmentModeSettingsContainer.expanded > h2::after {
    content: ' ▼';
}

#segmentModeSettingsContainer > #segmentModeSettings {
    visibility: hidden;
    display: none;
}

#segmentModeSettingsContainer.expanded > #segmentModeSettings {
    visibility: visible;
    display: block;
}

.refreshBtn {
    cursor: pointer;
    position: relative;
    top: 8px;
}